body {
    background-color: #414A4C;
    font-family: 'Courier New', Courier, monospace;
    color:#FFF8E7;
}
.nav_bar {
    font-size: 30px;
    font-weight: bold;
}
.container {
    margin-top: 30px;
}
.row {
}
.col-8 {
}
.col-4 {
}
.col-3.nav_logo {
}
.col-9 {
}
.nav_text {
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_size {
}
.title_photo {
    text-align: center;
}
.my_photo {
    background: url(../images/cat.jpg) no-repeat center center;
    background-size: 100%;
    width: 400px;
    height: 400px;
    margin-left: 650px;
}
.title_photo {
    background-size: 100%;
    width: 400px;
    height: 400px;
    margin-left: 650px;
}
.nav_logo {
    background: url(../images/logo.jpg) no-repeat center center;
    background-size: 100%;
    width: 70px;
    height: 70px;
    justify-content: left;
}
